body
{
	background-color: #cccccc;
    font-size: 14px;
}
ul
{
	list-style-type: square;
}
li
{
	font-weight: bold;
    font-size: 18px;
    margin: 4px;
}
li.back
{
	font-size: large;
}
td
{
	font-size: 18px;
}
td.head
{
	background-color: #aaaaaa;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
}
td.head2 
{
	background-color: #aaaaaa;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
    margin: 4px;
}
.ps
{
	font-size: 12px;
}
p {
    line-height: 1.2;
}