body
{
	background-color: #cccccc;
    font-size: 18px;
}
ul
{
	list-style-type: square;
}
li
{
	font-weight: bold;
    font-size: 18px;
    margin: 4px;
}
li.back
{
	font-size: large;
}
td
{
	font-size: 18px;
}
td.head
{
	background-color: #aaaaaa;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
    padding: 8px;
}
td.head2 
{
	background-color: #aaaaaa;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
    padding: 8px;
}
.ps
{
	font-size: 16px;
}
p {
    line-height: 1.2;
}
p img {
    float: left;
    padding: 0 16px 16px 0;
}
div.page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
a.header, div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #aaaaaa;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    padding: 8px 16px;
}
div.footer {
    font-size: 14px;
    width: fit-content;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 12px 0 24px;
    margin-top: 24px;
    border-top: 1px solid #6D6D6D;
}
img.right {
    float: right;
    padding: 0 0 16px 16px;
}
.news {
    margin-left: 120px;
}
.news p {
    margin: 8px 0;
}
.news_day {
    position: absolute;
    margin-left: -120px;
    font-weight: 700;
}
.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
}
.newsLink {
    font-size: 18px;
}